#body {
  background-color: #046413;
  font-family: 'Bree Serif';
}

.button-outer-wrapper {
  width:  100%;
  height: 100%;
}

.button-inner-wrapper {
  position: absolute;
  float: top;
  margin-left: 11%;
  top: 9rem;
}

.button-wrapper {
  height: 20%;
  width: 40%;
  background-color: #00a600;
  border:  	#a2d10c 3px solid;
  float: top;
  margin-top: 1rem;
  padding:  1.5rem;
  text-align: center;
  font-size: .75rem;
  border-radius: 10rem;
}

.button {
  text-decoration: none;
  color: 	white ;
}

#current_weather-wrapper {
  top: 10px;
  margin-top: 1rem;
  margin-left: 10%;
  align-items: center;
  width: 13%;
  float: left;
}

#weather-button {
  height: 10%;
  background-color: #c0a800;
  border:  	#00c078 3px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #006018;
  text-align: center;
  font-size: .75rem;
  border-radius: 2rem;
}

#chart {
  font-size: .5rem;
}

#chart-container {
  width: 65%;
  top: 50px;
  margin-left: 31%;
  margin-top: 1rem;

}

#to-do-dash-container { 
  margin-left: 31%;
  align-items: center;
  width: 30%;
  margin-top: 2rem;
  float: left;

}

#to-do-dash {
  background-color: #c0a800;
  border:  	#00c078 3px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #006018;
  text-align: center;
  font-size: .75rem;
  border-radius: 2rem;
  align-items: center;
}

.to-do-cell {
  font-size: .75rem;
  margin-left: .5rem;
}

#to-do-table {
  margin-left: 23%;
}

.to-do-row {
  margin-left: 50%;
}

#dun {
  font-size: .5rem;
  border: fuchsia 1px solid;
}

#dun-dash-container { 
  margin-left: 65%;
  align-items: center;
  width: 30%;
  margin-top: 2rem;
}

#dun-dash {
  background-color: #c0a800;
  border:  	#00c078 3px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #006018;
  text-align: center;
  font-size: .75rem;
  border-radius: 2rem;
  align-items: center;
}

#dun-table {
  margin-left: 12%;
}

.to-do-row {
  margin-left: 50%;
}