#top-wrapper {
  width: 100%;
  height: 1rem;
  top: 0;
}

.topbar-nav {
  position: absolute;
  top: 0;
  height: 1rem;
  width: 100%;
  margin-left: 15%;
  list-style: none;
}

.topbar-nav-item {
  font-size: 12px;
  width:  15%;
  float: left;
}

.top-menu-nav-button {
  color: #ADEFD1FF;
  text-decoration: none;
}

#body {
  background-color: #00203FFF;
  color: #ADEFD1FF;
  font-family: 'Rock Salt';
  text-align: center;
}

.resume_button {
  font-family: 'Rock Salt';
  font-size: 1rem;
  text-decoration: none;
  color: #efb6ad;
  margin-left: 50%;
}

.download-wrapper {
  width: 50%;
  margin-top: 10rem;
  margin-left: 15%;
}

.contact {
  
}